name: "Integration Test"

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - main

jobs:
  integration-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: pnpm/action-setup@v4
        with:
          version: 10.11.0
          
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
        
      - name: Build Action
        run: pnpm build
        
      # Setup test environment (Tiny Server)
      - name: Start tiny server
        run: |
          printf "<html><head><title>Demo</title></head><body>hi</body></html>" > index.html
          python3 -m http.server 3000 &> /dev/null &
          npx -y wait-on http://127.0.0.1:3000

      # Create dummy .lighthouserc.json if it doesn't exist
      - name: Create LHCI Config
        run: |
          cat > .lighthouserc.json <<EOF
          {
            "ci": {
              "collect": {
                "numberOfRuns": 2
              },
              "assert": {
                "assertions": {
                  "categories:performance": ["error", { "minScore": 0.1 }],
                  "categories:accessibility": ["error", { "minScore": 0.1 }],
                  "categories:best-practices": ["error", { "minScore": 0.1 }],
                  "categories:seo": ["error", { "minScore": 0.1 }]
                },
                "budgets": [
                  {
                    "path": "/",
                    "timings": [
                      {
                        "metric": "largest-contentful-paint",
                        "budget": 5000
                      }
                    ]
                  }
                ]
              }
            }
          }
          EOF

      - name: Run WAPMetrics Action (Local Build)
        uses: ./packages/collector-action
        with:
          base-url: "http://127.0.0.1:3000"
          routes: "/"
          lhrc-path: ".lighthouserc.json"
          # token: ${{ secrets.WAPMETRICS_TOKEN }}
          # api-url: ${{ vars.WAPMETRICS_API_URL }} 
          out: ".wapmetrics/wapmetrics-run.tgz"

      - name: Verify Artifact Exists
        run: |
          if [ -f ".wapmetrics/wapmetrics-run.tgz" ]; then
            echo "Artifact created successfully!"
            ls -l .wapmetrics/wapmetrics-run.tgz
          else
            echo "Error: Artifact was not created."
            exit 1
          fi

      - name: Upload Artifact to GitHub
        uses: actions/upload-artifact@v4
        with:
          name: wapmetrics-run
          path: .wapmetrics/wapmetrics-run.tgz

